<app-header  [iconName]="'employee_persons.png'" [headerText]="'Employees'"></app-header>

<dx-data-grid
        id="gridContainer"
        [dataSource]="employees | async"
        [allowColumnReordering]="true"
        (onRowInserting)="insert($event)"
        (onRowUpdating)="update($event)"
        (onRowRemoving)="delete($event)">

  <dxo-paging [enabled]="true"></dxo-paging>
  <dxo-editing
          mode="row"
          [allowUpdating]="true"
          [allowDeleting]="true"
          [allowAdding]="true">
  </dxo-editing>

  <dxi-column dataField="id" caption="ID" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="caption" caption="Mitarbeiter"></dxi-column>
  <dxi-column dataField="department" caption="Abteilung"></dxi-column>
  <dxi-column dataField="weekHours" caption="Wochenstunden"></dxi-column>
  <dxi-column dataField="workLoad" caption="Pensum"></dxi-column>
  <dxi-column dataField="vacationDays" caption="Urlaubstage"></dxi-column>
</dx-data-grid>

