/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
}

.mat-snack-bar-container__error, .mat-snack-bar-container__error .mat-snack-bar-container {
  background-color: #ac2925;
}
