
.dev-bar {
  position: fixed;
  padding: .2rem .4rem;
  left: 1rem;
  bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  color: white;

  ul,li {
    list-style: none;
    padding: .2rem .1rem;
  }

  span, a {
    padding: .2rem .1rem;
    color: white;
    text-decoration: none;
  }
}
