<div class="dashboard">top dashboard</div>

<dx-data-grid
  id="gridContainer"
  [dataSource]="shiftList"
  (onSelectionChanged)="selectionChangedHandler()"
  (onToolbarPreparing)="onToolbarPreparing($event)">

  <dxo-search-panel [visible]="true" ></dxo-search-panel>
  <dxo-selection mode="multiple" [selectAllMode]="allPages" [showCheckBoxesMode]="onClick"></dxo-selection>
  <dxo-grouping [autoExpandAll]="expanded"></dxo-grouping>
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-scrolling mode="infinite"></dxo-scrolling>
  <dxo-editing mode="cell" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true"  ></dxo-editing>

  <dxo-paging [enabled]="false"></dxo-paging>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>

  <dxi-column dataField="name" [groupIndex]="0"></dxi-column>
  <dxi-column dataField="date"></dxi-column>
  <dxi-column dataField="branch"></dxi-column>
  <dxi-column dataField="shiftTime"></dxi-column>
  <dxi-column dataField="shiftGroup"></dxi-column>
  <dxi-column dataField="hours"></dxi-column>
  <dxi-column dataField="status" [dataType]="date" [showEditorAlways]="true"></dxi-column>

  <div *dxTemplate="let data of 'totalGroupCount'">
    <div class="informer">
      <h2 class="count">{{totalCount}}</h2>
      <span class="name">Total Mitarbeiter</span>
    </div>
  </div>

</dx-data-grid>
