.dashboard{
  background-color: #b7c8d3;
  height: 70px;
}
.dx-datagrid-header-panel .dx-toolbar{
  margin: 0;
  padding-right: 20px;
  background-color: #99BFEB;
}
.dx-datagrid-header-panel .dx-toolbar-items-container{
  height: 70px;
}
.informer{
  height: 70px;
  width: 130px;
  text-align: center;
  background-color: #5F9BE5;
  color: #fff;
}
.count{
  padding-top: 15px;
  line-height: 27px;
}

 td[aria-label*='Sa,'], td[aria-label*='So,']{
  &, & ~ td{
    background: rgba(#99BFEB, 0.2);
  }
}


