<div class="dashboard">top dashboard</div>

<dx-select-box id="select-prefix"
               [dataSource]="months"
               placeholder="Select Month"
               [value]="month"
               (onValueChanged)="filterSelected($event)">
</dx-select-box>
<dx-data-grid
  id="gridContainer"
  [dataSource]="shiftList | async"
  keyExpr="id"
  [allowColumnReordering]="true"
  [columnAutoWidth]="true"
  (onToolbarPreparing)="onToolbarPreparing($event)">

  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-scrolling mode="infinite"></dxo-scrolling>
  <dxo-editing mode="cell"></dxo-editing>
  <dxo-paging [enabled]="false"></dxo-paging>
  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxi-column dataField="id" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="date" dataType="date" caption="Datum" [allowEditing]="true"></dxi-column>
  <div>
    <dxi-column dataField="{{employee1}}" cellTemplate="cellTemplate"></dxi-column>
    <div *dxTemplate="let d of 'cellTemplate'">
      {{d.text}}
      <dx-button text="shift item" (onclick)="showShiftItem()" style="float: right"></dx-button>
    </div>


  </div>
  <dxi-column dataField="{{employee2}}"></dxi-column>

  <div *dxTemplate="let data of 'totalGroupCount'">
    <div class="informer">
      <h2 class="count">{{totalCount}}</h2>
      <span class="name">Total Mitarbeiter</span>
    </div>
  </div>
  <!--<div *dxTemplate="let item of shiftItems">-->
  <!--<dx-button title="shift item" onclick="showPopup(item)"></dx-button>-->
  <!--</div>-->

</dx-data-grid>




<!--<dxi-column dataField="name" caption="{{'employee.caption' | translate }}"></dxi-column>-->

<!--<dxo-selection mode="row" [selectAllMode]="allPages" [showCheckBoxesMode]="onClick"></dxo-selection>-->
<!--<dxo-column-chooser [enabled]="true"></dxo-column-chooser>-->
<!--<dx-date-box-->
<!--[min]="minDate"-->
<!--[max]="maxDate"-->
<!--[(value)]="currentDate">-->
<!--</dx-date-box>-->



