
<nav>
  <ul>
    <li><a [routerLink]="['/logout']">logout</a></li>
    <li><a [routerLink]="['/dev/click-dummy']">click-dummy</a></li>
    <li><a [routerLink]="['/db/test']">test</a></li>
    <li><a [routerLink]="['/employees/employees']">employees</a></li>
    <li><a [routerLink]="['/shiftlist']">shiftlist</a></li>
    <li><a [routerLink]="['/shiftlist/templates']">shift templates</a></li>
    <li><a [routerLink]="['/presentation']">presentation</a></li>
    <!--<li><a [routerLink]="['/']"></a></li>-->
  </ul>
</nav>
