<dx-popup
  class="popup"
  [width]="650"
  [height]="380"
  [showTitle]="true"
  title="Information"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="showTimeSpan">
  <div *dxTemplate="let item of 'content'">
    <div>
      <label>Time from</label>
      <dx-text-box class="popup-content">{{item}}</dx-text-box>
      <label>Time to</label>
      <dx-text-box class="popup-content">{{item}}</dx-text-box>
    </div>
    <div>
      <label>Shift Type</label>
      <dx-select-box (onValueChanged)="onSelectType($event)">>
        <dx-lookup [dataSource]="" placeholder="Shift Types"></dx-lookup>
      </dx-select-box>
    </div>
  </div>
  <dxi-toolbar-item [toolbar]="'bottom'"
                    [location]="'after'"
                    [widget]="'dxButton'"
                    [visible]="'true'"
                    [options]="{text:'Ok', visible: 'true', disabled: 'false'}">
  </dxi-toolbar-item>
</dx-popup>

