<div class="container">
  <div class="login-header">
    <h2></h2>
    <img src="../../../assets/icons/loginlogo.png"/>
  </div>
  <div><span *ngIf="!loginsuccess">{{errormessage}}</span></div>
  <form novalidate #formRef="ngForm" [formGroup]="loginForm" (ngSubmit)="formRef.form.valid && onlogin()">
    <div class="login-controls">
      <img src="../../../assets/icons/username.png" height="30" width="30"/>
      <input [ngClass]="{loginerror: isFieldValid('email')}" type="text" formControlName="email" placeholder="test">
    </div>
    <div><span *ngIf="isFieldValid('email')">Benützername ist erforderlich !</span></div>
    <div class="login-controls">
      <img src="../../../assets/icons/lock.png" height="30" width="30"/>
      <input [ngClass]="{loginerror: isFieldValid('password')}" type="password" formControlName="password" placeholder="test">
    </div>
    <div><span *ngIf="isFieldValid('password')">Passwort ist erforderlich !</span></div>
    <div class="login-controls">
      <button type="submit" [disabled]="!formRef.form.valid">Login</button>
    </div>
  </form>
</div>
